*.csv
*.log
*.out
*.pyc
*.err
paths.yaml
**/data/** 
**/models/** 
**/__pycache__/**
**/*.pyc
**/dev/** 
**/envs/**
**/img/** 
agent_planning_v2_agent_B.md
agent_planning_v2_large.md
agent_planning.md
agent_planning_v2_agent_post_phase_0_from_agent_A.md
phase1_modifications_and_deviations.md